@import url("https://use.typekit.net/ntl2pda.css");

* {
    box-sizing: border-box;
}

html {

    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
    /* margin: 0 10%; */
}

body{
    margin: 0;
    padding: 0;

    /* overflow: hidden; */
     overflow-x: hidden; 

}

  
.title {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    line-height: auto;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    transition: 3s;
    border-bottom: 1px solid #000;
}


.fade-out {
    animation: fade-out 1s forwards;
  }
  
  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  


h1 {
    font-family: "sigurd", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.89vw;
    margin: 0;
    padding: 0;
    align-self: baseline;

}

h2 {
    font-family: "sigurd", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.2vw;
    margin: 0;
    padding: 0;

}

h3 {
    font-family: "sigurd", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;

}

h4 {
    font-family: "sigurd", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1vw;
    margin: 0;
    padding: 0;

}

#contentcheck{
    scroll-snap-type: y mandatory;

}

.snapa1{
    scroll-snap-align: start;

}

.snapa2{
    scroll-snap-align: start;

}

.snapa3{
    scroll-snap-align: start;

}

.snapa4{
    scroll-snap-align: start;

}

.snapa5{
    scroll-snap-align: start;

}

.snapa6{
    scroll-snap-align: start;

}



.container1 {
    display: flex;
    justify-content: space-between;
    background: #ffffff;

}

.container2 {
    display: flex;
    justify-content: space-between;
    background: #ffffff;


}


.linecont1 {
    display: contents;
}

.linecont2 {
    display: contents;
}

.linecont3 {
    display: contents;
}

.linecont4 {
    display: contents;
}

.linecont0 {
    display: contents;
}

.linediv {
    margin: 30px 0;
    border-bottom: 1px solid #000;
}

.linedivend {
    margin: 0px 0;
    margin-top:15px;
    border-bottom: 1px solid #000;
}

.linediv2 {
    /* margin-top: 30px; */
    margin:0;
        margin-top: 30px;

    border-bottom: 1px solid #000;
}




.headtitle {
    display: contents;
}

.headtitle>img {
    opacity: 0;
    transition: all ease-in 0.25s;
}

.headtitle>img:hover {
    opacity: 1;

}



.gapdiv {
    padding: 30px 0;
}




video#bgvid {
    width: 100%;
    height: auto;
    clip-path: inset(1px 1px);

}


.flexcont1 {
    display: flex;
    flex: none;
    justify-content: flex-start;
    transition: all 1s;

}

.flexcont2 {
    display: flex;
    justify-content: flex-end;
    transition: all 1s;
    text-align: end;
}


.flexcont3 {
    display: flex;
    justify-content: flex-end;
    transition: all 1s;
    text-align: end;
}


.flexconta {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}

.flexcontb {
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
}


.flexcont1>.bodytext2 {
    max-width: 70%;
}

.flexcont2>.bodytext2 {
    max-width: 70%;
}

.flexcont3>.bodytext2 {
    max-width: 100%;
}


.grida1 {
    /* grid-column: 1 / 2;
    aspect-ratio: 1; */
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 2%;
}


.grida2 {
    /* grid-column: 2/2;
    aspect-ratio: 1; */
    display: flex;
    flex-flow: column;
    flex: 1;
    justify-content: space-between;
    margin-left: 2%;
}

.gridc1 {
    /* grid-column: 1 / 2;
    aspect-ratio: 1; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-right: 2%;
}


.gridc2 {
    /* grid-column: 2/2;
    aspect-ratio: 1; */
    display: flex;
    flex-basis: 300%;
    justify-content: center;
    align-items: flex-end;
    margin-left: 2%;
}


.gridb1 {
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 2%;
}


.grida1 img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

}

.grida2 img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;

}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
}

.stih_grid1 {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.stih_grid2 {
    grid-column: 3/3;
}



img {
    width: 100%;
}


.bodytext1 {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
}

.bodytext2 {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #000000;
}

.bodytext3 {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #000000;
}

.bodytext4 {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000000;
}

#hydra-bg {
    width: 100%;
    /* fill screen */
    height: auto;
    background-size: cover;
    overflow-y: hidden;
    z-index: -1;
    /* place behind everything else */
    display: flex;
    padding: 0;
    margin: 0
}

#hydra-bg2 {
    width: 100%;
    /* fill screen */
    height: auto;
    background-size: cover;
    overflow-y: hidden;
    z-index: -1;
    /* place behind everything else */
    display: flex;
    padding: 0;
    margin: 0
}


#viewport {
    overflow: hidden;

  }


  
#contentcheck {

	overflow-y: visible;

    
}

.topgap{
    padding-top:50px;
}


nav {
    font-family: "sigurd", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    position:sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 99;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex;
    flex-wrap: wrap;
    margin: 0px 10%;
    padding: 15px 0;
    


}

.pagecontainer{
    opacity:0;
}

.navinside {
    font-family: "sigurd", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    position:sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 99;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex;
    flex-wrap: wrap;
    margin: 0px 0px;
    padding: 15px 0;
    border-bottom: #000 1px solid;


}

.navbottom {
    font-family: "sigurd", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    position:sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 99;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex;
    flex-wrap: wrap;
    margin: 0px 0px;
    padding: 15px 0;

}



.navx{
    font-family: "sigurd", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    position:sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 99;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex;
    flex-wrap: wrap;
    margin: 0px 0;
    padding:0;

}

.navbar2 {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid #000;

}

nav a:link {
    text-decoration: none;
    background: #ffffff;
    border-radius: 20px;
    color: #000;
    text-align: center;
    border: none;
    outline: 1px solid #fff;

    padding: 0.5rem 0.5rem;
    flex-direction: row;
    transition: all 0.5s ease-in;
}



nav a:visited {
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    outline: 1px solid #fff;

}

nav a:hover {
    outline: 1px solid #fff;

    background: #eddbbc;
    border-radius: 20px;
    color: #000000;
    text-align: center;
    border: none;
    padding: 0.5rem 0.5rem;




}

nav a:active {

    color: rgb(0, 0, 0);
    background: #ffffff;
    text-align: center;
    outline: 1px solid #000;
    border-radius: 20px;
}


.navinside a:link {
    text-decoration: none;
    background: #ffffff;
    border-radius: 20px;
    color: #000;
    text-align: center;
    border: none;
    outline: 1px solid #fff;

    padding: 0.5rem 0.5rem;
    flex-direction: row;
    transition: all 0.5s ease-in;
}



.navinside a:visited {
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    outline: 1px solid #fff;

}

.navinside a:hover {
    outline: 1px solid #fff;

    background: #eddbbc;
    border-radius: 20px;
    color: #000000;
    text-align: center;
    border: none;
    padding: 0.5rem 0.5rem;




}

.navinside a:active {

    color: rgb(0, 0, 0);
    background: #ffffff;
    text-align: center;
    outline: 1px solid #000;
    border-radius: 20px;
}





a:link {
    color: rgb(0, 0, 0);
    background: #ffffff;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background: #ffffff;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background: #ffffff;
    text-decoration: none;
}

a:active {
    color: rgb(0, 0, 0);
    background: #ffffff;
    text-decoration: none;
}


.cont4 {
    background: #ffffff;
}


.slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
}

.slideshow-container3 {
    max-width: 400px;
    position: relative;
    margin: auto;
}

.slideshow-container3 {
    max-width: 600px;
    position: relative;
    margin: auto;
}

.responsive_iframe {
    width: 100%;
    aspect-ratio: calc(828/1280);

}

.responsive_iframe2 {
    width: 100%;
    aspect-ratio: calc(883/1700);

}
.responsive_iframe3 {
    width: 100%;
    aspect-ratio: calc(480/400);

}

.responsive_iframe4 {
    width: 100%;
    aspect-ratio: calc(572/750);

}

.responsive_iframe5 {
    width: 100%;
    aspect-ratio: calc(1080/1920);

}
.wwh_cont {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    flex: 1;
}

.wwh_elem {
    flex: 1;
    /* additionally, equal width */
    padding-left: 3%;
    align-items: center;
    justify-content: center;
}

.wwh_elem3 {
    flex: 1;
    /* additionally, equal width */
    padding: 0;
    align-items: center;
    justify-content: center;
}


.qr_elem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.wwh_elem2>.qr_elem>a:link>img {
    max-width: 50%;
}


.wwh_elem2>.qr_elem>a:visited>img {
    max-width: 50%;
}

.wwh_elem2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 3%;

}



.vid-container {
    flex: 1;
}

.mySlides1 {
    display: none;
}

.mySlides2 {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: 0;
    padding: 5px;
    color: white;
    font-family: "sigurd", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    transition: 0.2s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
    opacity: 0;
}

.next {
    right: 0;
    border-radius: 1px 0 0 1px;
    opacity: 0;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-container:hover>.prev,
.slideshow-container:hover>.next {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 1;
}

.slideshow-container2:hover>.prev,
.slideshow-container2:hover>.next {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    color: white;

}

.slideshow-container3:hover>.prev,
.slideshow-container3:hover>.next {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    color: white;

}

.flexdiv1 {
    display: flex;
    flex: 1;
    flex-flow: column;
    margin: 0;
    padding: 0;
    margin-right: 2%;
}


.flexdiv2 {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 0;
    margin-left: 2%;
    justify-content: space-evenly;
    transition: all 2s;
}

.flexdiv3 {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 0;
    margin: 0 1%;
    justify-content: space-evenly;
    transition: all 2s;
}

.flexdiv4 {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 0;
    margin: 0 1%;
    justify-content: center;
    transition: all 2s;
}

.flexdiv2>a:link>.bodytext3 {
    padding: 0 1%;

    transition: all 2s;
}

.flexdiv2>a:visited>.bodytext3 {
    transition: all 2s;
    padding: 0 1%;

}


.flexdiv2>a:hover>.bodytext3 {
    background-color: #eddbbc;
    padding: 3% 1%;
}


.flexdiv1>.bodytext1 {
    text-align: center;
}

.flexdiv2>.bodytext1 {
    text-align: center;

}


.gap {
    padding: 10px 0;
}

.masrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.mascolumn {    margin-top: 8px;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.mascolumn img {
    vertical-align: middle;
    width: 100%;
}

.mascolumn video {
    vertical-align: middle;
    width: 100%;
}



.appear{
    opacity:1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 950px) {
    .mascolumn {
        flex: 50%;
        max-width: 50%;
    }

    .navitem {
        font-family: "sigurd", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5vw;
        display: flex;
        text-align: center;
        border: none;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        flex-direction: row;
    }

    .container1 {
        flex-flow: column;
        background: #ffffff;

    }

    .container2 {
        flex-flow: column-reverse;
        background: #ffffff;

    }


    .grida1 {
        display: flex;
        flex: 1;
        flex-flow: column;
        margin: 5% 0;
        padding: 0;
        margin-right: 0;
    }


    .grida2 {
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        margin: 4% 0;
        padding: 0;
        margin-left: 0;
    }

    .bodytext1 {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
    }

    .bodytext2 {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #000000;
    }

    .bodytext3 {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #000000;
    }



    h2 {
        font-family: "sigurd", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8vw;
        margin: 0;
        padding: 0;

    }

    .flexcontb {
        display: flex;
        flex-flow: column;
        padding: 0;
        margin: 12% 0;
    }

    .linediv {
        margin: 3% 0;
        border-bottom: 1px solid #000;
    }
    

    h1 {
        font-family: "sigurd", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6.5vw;
        margin: 0;
        padding: 0;
    }

    .gridcontainer {
        display: flex;
        flex-wrap: wrap;
    }

    .stih_grid1 {
        flex: 100%;
        max-width: 100%;
        padding-bottom: 7%;

    }

    .stih_grid2 {
        flex: 100%;
        max-width: 100%;
    }

    .flexdiv1 {
        display: flex;
        flex: 1;
        flex-flow: column;
        margin: 0;
        padding: 0;
        margin: 2% 0;
    }


    .flexdiv2 {
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 0;
        margin: 2% 0;
        justify-content: space-evenly;
        transition: all 2s;
    }

    .flexdiv3 {
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 0;
        margin: 1% 0;
        justify-content: space-evenly;
        transition: all 2s;
    }

    .headtitle>.gap {
        margin: 4% 0;
    }

    .wwh_cont {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2% 0;
        justify-content: space-between;
        flex: 1;
    }

    .wwh_elem {
        flex: 1;
        /* additionally, equal width */
        padding: 2% 0;
        align-items: center;
        justify-content: center;
    }

    .wwh_elem3 {
        flex: 1;
        /* additionally, equal width */
        padding: 2% 0;
        align-items: center;
        justify-content: center;
    }
    

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */


@media screen and (max-width: 600px) {
    .navitem {
        font-family: "sigurd", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5vw;
        display: flex;
        text-align: center;
        border: none;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        flex-direction: row;
    }

    .container1 {
        flex-flow: column;
        background: #ffffff;

    }

    .container2 {
        flex-flow: column-reverse;
        background: #ffffff;

    }

    .mascolumn {
        flex: 100%;
        max-width: 100%;
    }

    .grida1 {
        display: flex;
        flex: 1;
        flex-flow: column;
        margin: 5% 0;
        padding: 0;
        margin-right: 0;
    }


    .grida2 {
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        margin: 4% 0;
        padding: 0;
        margin-left: 0;
    }

    .bodytext1 {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
    }

    .bodytext2 {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #000000;
    }

    .bodytext3 {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #000000;
    }



    h2 {
        font-family: "sigurd", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 8vw;
        margin: 0;
        padding: 0;

    }

    .flexcontb {
        display: flex;
        flex-flow: column;
        padding: 0;
        margin: 12% 0;
    }

    .linediv {
        margin: 3% 0;
        border-bottom: 1px solid #000;
    }

    h1 {
        font-family: "sigurd", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6.5vw;
        margin: 0;
        padding: 0;
    }

    .gridcontainer {
        display: flex;
        flex-wrap: wrap;
    }

    .stih_grid1 {
        flex: 100%;
        max-width: 100%;
        padding-bottom: 7%;

    }

    .stih_grid2 {
        flex: 100%;
        max-width: 100%;
    }

    .flexdiv1 {
        display: flex;
        flex: 1;
        flex-flow: column;
        margin: 0;
        padding: 0;
        margin: 2% 0;
    }


    .flexdiv2 {
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 0;
        margin: 2% 0;
        justify-content: space-evenly;
        transition: all 2s;
    }

    .flexdiv3 {
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 0;
        margin: 1% 0;
        justify-content: space-evenly;
        transition: all 2s;
    }

    .headtitle>.gap {
        margin: 10% 0;
    }

    .wwh_cont {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2% 0;
        justify-content: space-between;
        flex: 1;
    }

    .wwh_elem {
        flex: 1;
        /* additionally, equal width */
        padding: 2% 0;
        align-items: center;
        justify-content: center;
    }

    .wwh_elem3 {
        flex: 1;
        /* additionally, equal width */
        padding: 2% 0;
        align-items: center;
        justify-content: center;
    }

}